.container {
  display: flex;
  flex-direction: column;
}

.greenRectangle {
  background-color: rgb(110, 252, 110);
  height: 50vh;
  width: 50vw;  
}

.redRectangle {
  background-color: rgb(248, 116, 116);
  height: 50vh;
  width: 50vw;
}

.rectangleContainer {
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: -2.5rem;
  z-index: -1;
}

.button {
  position: absolute;
  font-size: 1.3em;
  padding: 10px;
  top: 35rem;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  border : none;
  cursor: pointer;
  outline: none;
}

.text {
  position: absolute;
  font-size: 1.3em;
  padding: 10px;
  top: 38rem;
  color: rgb(0, 0, 0);
  width: 150px;
  left: 10px;
  right: 0px;
  margin: auto;
}

.hello {
  margin-left: 15rem;
  margin-bottom: -1rem;
  font-family: sans-serif;
  font-size: 1.6rem;
}
